body {
    min-width: 300px;
    min-height: 600px;
    max-width: 300px;
    background-color: #EED5F5;
}

h2 {
    font-size: 15px;
}

article {
    margin: 20px;
    width: 280px;
}

p {
    margin: 5px;
}

.stars {
    display: flex;
    align-items: center;
}

img {
    width: 10px;
    height: 10px
}

.text-div{
    width: 280px;
}
.product-section{


    margin-bottom: 5%;
}

/* CSS */
.product-section {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #762898 0, #C179DC 100%);
  /* border: 0; */
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  /* box-sizing: border-box; */
  color: #fff;
  cursor: pointer;
  /* display: inline-flex; */
  /* font-family: "JetBrains Mono",monospace; */
  /* height: 48px; */
  justify-content: center;
  /* line-height: 1;
  list-style: none; */
  /* overflow: hidden;  */
   padding-left: 20px;
  padding-right: 20px;
  /* position: relative; */
  overflow-wrap: break-word;

  /* text-align: left; */
  /* text-decoration: none; */
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  /* white-space: nowrap; */
  will-change: box-shadow,transform;
  padding: 5px;
  border-radius: 15px;



  /* font-size: 18px; */
}

.product-section:focus {
  box-shadow: #762898 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #762898 0 -3px 0 inset;
}

.product-section:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #762898 0 -3px 0 inset;
  transform: translateY(-2px);
}

.product-section:active {
  box-shadow: #762898 0 3px 7px inset;
  transform: translateY(2px);
}