body {
    min-width: 350px;
    min-height: 600px;
    max-width: 350px;
    background-color: white;
}

#items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bolded {
    font-weight: bold;
}

.price {
    display: flex;
}

.heading section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom:0px;
}

#items h2 {
    font-family: 'Bebas Neue', cursive;
}

h1 {
    margin: 5px;
}

#logo {
    width: 40px;
    height: 35px;
}

.heading h2 {
    margin-top: 0px;
    font-size: 10px;
    font-style: italic;
    font-weight: normal;
    text-align: center;
}

article {
    margin: 20px;
    width: 280px;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    font-size: 40px;
}

p {
    margin: 5px;
}

.description {
    padding-right: 10px;
}

.stars {
    display: flex;
    align-items: center;
}

img {
    width: 10px;
    height: 10px
}

.text-div{
  width: 180px;
}

.product-section {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #C179DC 100%);
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  color: #fff;
  cursor: pointer;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  overflow-wrap: break-word;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: box-shadow,transform;
  padding: 5px;
  border-radius: 15px;
  width: 280px;
  height: 200px;
  margin-top: 10px;
  margin-bottom:10px;
  /* font-size: 18px; */
}

.product-section:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.product-section:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.product-section:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}